body {
  margin: 0 !important;
  box-sizing: border-box;
  padding: 0;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
  font-family: "Poppins", sans-serif !important;
}

/* Default link style */
.nav-link {
  text-decoration: none;
  color: #ed6c02;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  transition: color 0.3s, transform 0.2s;
}

/* Hover effect */
.nav-link:hover {
  color: #ff9800;
  transform: scale(1.01);
}

/* Active link style */
.nav-link.active {
  color: #ff9800;
  font-weight: bold;
}

/* The scrollbar track (the background) */
::-webkit-scrollbar {
  width: 10px; /* Width of the vertical scrollbar */
  height: 10px; /* Height of the horizontal scrollbar */
}

/* The scrollbar handle (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #fcbf65; /* Color of the scrollbar handle */
  border-radius: 5px; /* Rounded corners */
}

/* On hover, change the scrollbar handle color */
::-webkit-scrollbar-thumb:hover {
  background-color: #ff9800;
}

/* The scrollbar track (background) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Light background color for the track */
  border-radius: 5px;
}

/* Optional: Add a border to the track */
::-webkit-scrollbar-track-piece {
  background-color: #fafafa;
  border: 1px solid #ddd;
}

/* Optional: Corner between vertical and horizontal scrollbars */
::-webkit-scrollbar-corner {
  background-color: #f1f1f1;
}
